@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Solway:wght@300;400;500;700;800&display=swap');

/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.quicksand-<uniquifier> {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.solway-light {
  font-family: "Solway", serif;
  font-weight: 300;
  font-style: normal;
}

.solway-regular {
  font-family: "Solway", serif;
  font-weight: 400;
  font-style: normal;
}

.solway-medium {
  font-family: "Solway", serif;
  font-weight: 500;
  font-style: normal;
}

.solway-bold {
  font-family: "Solway", serif;
  font-weight: 700;
  font-style: normal;
}

.solway-extrabold {
  font-family: "Solway", serif;
  font-weight: 800;
  font-style: normal;
}

*/
*{
    box-sizing: border-box;
}

.info h1{
    font-family: "Solway", serif;
    font-weight: 800;
    font-style: normal;
}

.info h2{
    font-family: "Solway", serif;
    font-weight: 500;
    font-style: normal;
    text-align: left;

}

.info h3{
    font-family: "Solway", serif;
    font-weight: 400;
    font-style: normal;
}

.info p{
    font-family: "Quicksand", sans-serif;
  font-style: normal;
  color: #909090;
  text-align: left;
}

.info {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "faq faq image" 
    "faq faq image";
    border-bottom: solid 30px #000;

}

section:nth-of-type(1) {
    grid-area: faq;
    text-align: left;
  }
  
  section:nth-of-type(2) {
    grid-area: image;
  }

  .info img{
    max-width: 200px;
    max-height: 100%;
    
  }

  @media screen and (max-width: 730px) {

    .info{
      display: grid;
      grid-template-columns: 12fr;
      grid-template-areas: 
      "faq"
  }
  
  .info img{
    display: none;
  }

  }